@import "layout.css";

html,body {
color:#444;
font:12px Verdana, Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
font-weight:400;
margin:0;
padding:0;
}

h1 {
font-size:170%;
margin-bottom:.5em;
padding-bottom:.35em;
}

h2 {
font-size:160%;
}

h3 {
font-size:140%;
font-weight:700;
}

h4 {
font-size:140%;
}

h5 {
font-size:130%;
}

h6 {
font-size:120%;
}

a:link,a:visited {
color:#657465;
text-decoration:none;
}

a:hover {
border-bottom:1px dotted #90a491;
color:#92a693;
}

a:active,a.active {
color:#90a491;
}

img,a img {
border:none;
}

hr {
border:none;
height:1px;
margin:0;
padding:0;
}

ul,ul.menu,.item-list ul {
margin:0 0 .5em;
padding:0 0 0 0.5em;
}

ul li,ul.menu li,.item-list ul li {
list-style:circle url(images/li.png);
margin:0 0 0 1em;
padding:0;
}

ul li.expanded,ul.menu li.expanded,.item-list ul li.expanded {
list-style:disc url(images/li-expanded.png);
}

ul li.collapsed,ul.menu li.collapsed,.item-list ul li.collapsed {
list-style:square url(images/li-collapsed.png);
}

ul.menu li ul li ul li {
line-height:1.6em;
}

body,#page,#front,#second {
background-color:#FDFEFF;
margin:0;
padding:0;
}

#container {
background-color:#C3D9FF;
}

#main {
background-color:#FFFFFF;
padding:10px 20px 20px;
border:1px solid #c5cac5
}

.withleft #main {
border-left:1px solid #c5cac5;
}

.withright #main {
border-right:1px solid #c5cac5;
}

#page {
margin: 0 0px;
}

#header {
background:url(images/header.png) repeat-x;
height:95px;
margin:0;
padding:0;
}

#logotitle {
float:left;
height:80px;
overflow:visible;
padding-left:10px;
position:relative;
z-index:1;
}

#header #sitename,#header #site-slogan {
border:0;
left:100px;
margin:0;
padding:0;
position:relative;
top:15px;
}

#header #sitename a,#header #sitename a:visited,#header #sitename a:hover {
border:0;
color:#fff;
font-family:Arial, Helvetica, sans-serif;
font-size:25px;
font-weight:700;
letter-spacing:3px;
text-decoration:none;
}

#header #sitename a:hover {
color:#fff;
}

#header #site-slogan {
color:#bdd2be;
font-size:12px;
font-weight:700;
letter-spacing:1px;
text-align:left;
}

#header #logo {
position:absolute;
}

#logo a,#logo a:visited,#logo a:hover {
text-decoration:none;
}

#logo a img {
border:0;
}

#primary {
height:29px;
text-align:right;
}

#primary ul li {
float:right;
margin:0;
padding:0;
}

#primary ul li a,#primary ul li a:visited {
border:1px solid #c6cb86;
font-weight:700;
color:#fff;
float:left;
font-size:10px;
height:17px;
margin:2px 1px;
padding:4px .8em 0;
}

#primary ul li a:hover {
background:url(images/primary.png) repeat-x;
}

#secondary ul {
height:12px;
padding:3px 5px 1px;
text-align:center;
}

#secondary ul li {
color:#c6cb86;
margin:5px;
padding:10px;
}

.sidebar .block {
margin-bottom:1.5em;
}

.sidebar .block h2 {
height:19px;
background:url(images/blockhead.png) no-repeat;
color:#6C7A8D;
font-size:13px;
font-weight:700;
margin:10px -8px 8px -5px;
padding:4px 2px 4px 6px;
}

.sidebar .block h3,.sidebar .block div.title {
color:#6C7A8D;
font-size:12px;
font-weight:700;
}

#header-region {
color:#F1F5F9;
height:28px;
left:122px;
line-height:28px;
padding:0;
position:absolute;
top:10px;
vertical-align:bottom;
}

#header-region * {
display:inline;
vertical-align:bottom;
}

#header-region h2,#header-region h3,#header-region div,#header-region ul,#header-region li {
display:inline;
font-size:10px;
line-height:20px;
padding-right:.5em;
}

#header-region h2,#header-region h3 {
font-weight:700;
}

#header-region h2 {
font-size:13px;
}

#header-region input,#header-region select {
background-color:#B4D1F1 !important;
border-color:#8EACCE !important;
color:#476281 !important;
}

#footer {
background-color:#404040;
height:20px;
margin:0;
text-align:center;
}

ul.primary {
border-bottom:1px solid #DADCE0;
text-align:right;
}

ul.primary li a {
background:#EBEFF7;
border-color:#CFD5E3;
}

ul.primary li a.active {
border-bottom:0;
border-color:#CFD5E3;
}

ul.primary li a:hover {
background-color:#FBFCFE;
border-color:#BABFC6;
}

ul.secondary {
padding:0;
}

ul.secondary li {
margin:0;
}

ul.secondary li.active a,ul.secondary li a:hover {
border-bottom:3px solid #BABFC6;
}

table {
margin:0.5em 0 1em;
width:100%;
}

thead th {
background:url(images/contenthead.png) repeat-x;
border-top:1px solid #c0d6c1;
border-bottom:1px solid #8fa390;
color:#678;
font-size:90%;
font-weight:700;
padding:4px 5px 0;
}

tr.even,tr.odd {
border-color:#DADCE0;
}

tr.even {
background-color:#fbfcfe;
}

tr.odd {
background-color:#fff;
}

td.active {
background:#e4ecf5;
}

td {
padding:3px;
}

td.menu-disabled {
background-color:#E5E5E5;
}

form {
margin-bottom:.5em;
}

input,textarea,select,textfield {
color:#555;
padding:1px 3px;
}

fieldset {
background-color:#F8F9FA;
border:solid #DADCE0 1px;
margin:1em 0;
}

fieldset.collapsed {
background-color:transparent;
padding:0;
}

.form-item input.error,.form-item textarea.error {
border:1px dashed #E1471D;
color:#555;
}

#node-form,#node-form .node-form {
overflow:auto;
}

#user-login-form .form-item {
margin:0 0 .5em;
}

#user-login-form .item-list {
font-size:90%;
margin-top:.5em;
}

#user-login-form input.form-text {
border:1px solid #D1DBEC;
text-align:left;
}

#user-login-form input.form-submit {
border:1px solid #D1DBEC;
}

#user-login-form label {
font-size:90%;
font-weight:400;
}

#user-login-form .form-required {
display:none;
}

#search input.form-submit:hover,#search input.form-submit:focus,#search input.form-text:hover,#search input.form-text:focus,#user-login-form input.form-text:hover,#user-login-form input.form-text:focus,#user-login-form input.form-submit:hover,#user-login-form input.form-submit:focus {
background-color:#fff;
border-color:#B7C7E2;
color:#485F7E;
}

#block-user-2 ul li,#block-user-3 ul li {
background-image:url(images/mini-user-light-blue.png);
background-position:0 3px;
background-repeat:no-repeat;
list-style-image:none;
list-style-type:none;
margin-left:-5px;
padding-left:18px;
}

.progress .bar {
background:#fff url(images/progressbar.gif) repeat;
border:1px solid #00375a;
}

.messages {
background:#fbfcfe;
border:2px solid #DADCE0;
margin:10px 0;
min-height:32px;
padding:1.3em 1em .3em 52px;
}

.messages ul {
margin:0;
padding:0 0 0 20px;
}

div.status {
background:url(images/icon-info.png) .5em 50% no-repeat;
}

div.error {
background:#FCD295 url(images/icon-alert.png) .5em 50% no-repeat;
border:2px solid #E1471D;
}

div.error ul li,div.status ul li {
list-style-image:none;
list-style-type:square;
}

div.meta,.description,.breadcrumb,.submitted,.taxonomy {
color:#494949;
font-size:92%;
line-height:1.6em;
}

pre {
background:#fbfcfe;
border:1px solid #DADCE0;
padding:0.75em 1.5em;
}

blockquote {
background-color:#FFF7D1;
border:1px #DADCE0 solid;
font-style:bold;
color:#404040;
font-size:100;
margin:0.5em 1em;
padding:0.3em;
}

code {
font-family:'lucida console', 'Courier New', Monaco, monospace;
}

.blockinner {
margin:0;
padding:0;
}

.preview .node,.preview .comment {
background-color:#eee;
border:1px solid #ddd;
margin:5px 0 10px;
padding:10px;
}

#mission {
border:1px solid #c0c7c0;
margin:0 0 10px;
padding:15px;
}

.new {
color:red;
float:right;
font-size:80%;
font-weight:700;
vertical-align:super;
}

div.admin-panel {
background-color:#fbfcfe;
border:1px solid #8fa390;
margin:15px 0 0;
padding:0 0 15px;
}

div.admin-panel h3 {
background:#a0a0a0 url(images/admin.png) no-repeat 4px 4px;
border-bottom:1px solid #8fa390;
margin:0 0 5px;
padding:5px 5px 5px 30px;
}

ul.links li.first {
padding-left:0;
}

.node div.links {
border-bottom:dashed #becbbe 1px;
padding-bottom:2px;
padding-top:1px;
}

.sticky div.links {
border-bottom:none;
}

.comment .links {
font-size:90%;
}

li.comment_add a,li.comment_comments a {
background:url(images/comment.png) no-repeat 0 1px;
padding-left:15px;
}

li.node_read_more a {
background:url(images/readmore.png) no-repeat 0 2px;
padding-left:15px;
}

li.upload_attachments a {
background:url(images/attachment.png) no-repeat 0 2px;
padding-left:15px;
}

li.comment_delete a {
background:url(images/mini-trash.png) no-repeat 0 0;
padding-left:15px;
}

li.comment_edit a {
background:url(images/mini-edit.png) no-repeat 0 0;
padding-left:15px;
}

li.comment_reply a {
background:url(images/comment.png) no-repeat 0 0;
padding-left:15px;
}

.node {
margin-bottom:15px;
padding-bottom:15px;
}

.node h2.title a {
color:#333;
font-weight:400;
margin-bottom:0;
}

.meta,.submitted,.taxonomy {
color:#666;
}

.meta {
padding-bottom:1em;
}

.node .submitted {
float:left;
text-align:left;
width:99%;
}

.node .with-taxonomy .submitted {
width:48%;
}

.node .taxonomy {
float:right;
text-align:right;
width:48%;
}

.taxonomy .links a {
border-bottom:dotted 1px #9cf;
text-decoration:none;
}

.taxonomy .links a:hover {
border-bottom:solid 1px #9cf;
}

.taxonomy li.first {
background:url(images/category.png) no-repeat 0 2px;
padding-left:15px !important;
}

.sticky {
background-color:#F7FAFF;
border:1px solid #DADCE0;
padding:8px 5px;
}

div.node div.content .book-navigation {
background:#eee;
margin:0;
padding:0;
}

div.node div.content .book-navigation ul.menu {
border:0;
border-top:1px solid #2763A5;
margin:0;
padding-bottom:10px;
}

div.node div.content .book-navigation .page-links {
background:#C1D4EA;
border:1px solid #2763A5;
border-width:1px 0;
margin:0;
padding:5px;
}

#forum table {
width:100%;
}

.feed-item-meta {
color:#666;
font-size:90%;
text-align:right;
}

h3.feed-item-title a {
color:#333;
font-size:13pt;
font-weight:400;
margin-bottom:0;
}

.poll .bar {
background-color:#becbbe;
height:16px;
}

.poll .bar .foreground {
background:url(images/poll.png) repeat-x;
clear:none;
float:left;
height:16px;
}

.poll .vote-form {
text-align:center;
}

.poll .vote-form .choices {
display:block;
padding-left:5%;
text-align:left;
}

.pager {
font-size:90%;
text-align:center;
}

.pager a,.pager a:visited {
background-color:#FFF;
border:1px solid #92a693;
color:#738474;
margin-left:5px;
padding:2px 3px;
}

.pager .pager-current {
background-color:#F7F8FA;
border:1px solid #92a693;
color:#555;
margin-left:5px;
padding:2px 3px;
}

.pager a:hover {
border-color:#92a691;
color:#555;
}

.sidebar,#user-login-form {
text-align:left;
}

div.links,ul.links {
text-align:left;
}

.node h2.title a:hover,h3.feed-item-title a:hover {
border-bottom:0;
color:#345;
text-decoration:underline;
}

#mymenu ul { 
list-style:none; 
margin:0; 
padding:0 10px; 
list-style-image:none; 
}

#mymenu li { 
float:right; 
list-style-image:none;
}

#mymenu li a span, #mymenu li a em { 
display:none; 
}

#mymenu li a { 
display:block; 
height:55px; 
width:45px; 
background-position:center top; 
}

#mymenu li a:hover span { 
display: block; 
position: relative; 
width:45px; 
height:55px; 
left:-1px; 
bottom:-1px; 
background-position:center bottom; 
}

#mymenu li#home a, #mymenu li#home a:hover span { 
background-image:url(images/home.png); 
}

#mymenu li#about a, #mymenu li#about a:hover span { 
background-image:url(images/announce.png); 
}

#mymenu li#contact a, #mymenu li#contact a:hover span { 
background-image:url(images/contact.png); 
}

#mymenu li#forums a, #mymenu li#forums a:hover span { 
background-image:url(images/ppls.png); 
}

#mymenu li#performance a, #mymenu li#performance a:hover span { 
background-image:url(images/tuning.png); 
}

#mymenu li#scripts a, #mymenu li#scripts a:hover span { 
background-image:url(images/folder.png); 
}